<div class="plans-page">
  <div class="plan-list-block mt-3" *ngIf="!showForm">
    <p-button label="Add plan" icon="pi pi-plus" (onClick)="showForm = true" class="d-flex justify-content-end"
      styleClass="p-button-sm p-button"></p-button>
    <div class="table-block mt-3">
      <app-common-table [tableColumns]="tableColumns" [tableData]="plansData"></app-common-table>
    </div>
  </div>
  <div class="container" *ngIf="showForm || plansData.length === 0">
    <div class="row justify-content-center">
      <div class="card col-12 px-5 pb-5 pt-3 ms-2">
        <h1>Add plan</h1>
      </div>
    </div>
  </div>
</div>