<div class="container">
    <div class="row justify-content-evenly align-items-center">
        <div class="col-4 card text-center">
            <div class="card-body trans">
                <i class="pi pi-check" style="font-size: 1.5rem"></i>
                <h2>Payment Success</h2>
                <p>Transaction Number : 1234567890</p>
            </div>
            <div class="card-body">
                <p class="d-flex justify-content-between"><span>Amount Paid :</span><span>rs.250</span></p>
                <p class="d-flex justify-content-between"><span>Bank:</span><span>Mellat Bank</span></p>
            </div>
        </div>
        <div class="col-3 text-center p-0">
            <img src="../../../assets/images/success.png" alt="Success images" width="100%">
        </div>
    </div>
</div>