<div class="courses-block">
    <ul class="row">
        <li *ngFor="let plan of planDetails" class="col-md-3" (click)="onPlanSelect(plan)">
            <div class="card" [ngClass]="{'selected': plan.isSelected}">
                <div class="card-image">
                    <img class="img-fluid" src="/assets/images/html.png" alt="" />
                </div>
                <div class="card-body">
                    <div class="header">
                        <h4>{{plan.title}}</h4>
                    </div>
                </div>
                <div class="list-body">
                    <ul>
                        <li>
                            <i class="pi pi-stopwatch me-2"></i>
                            <span>Time: {{plan.duration}} Minutes</span>
                        </li>
                        <li>
                            <i class="pi pi-book me-2"></i>
                            <span>Technologies: HTML, CSS, Javascript</span>
                        </li>
                        <li>
                            <i class="pi pi-code me-2"></i>
                            <span>Programming: {{plan.programming}}</span>
                        </li>
                        <li>
                            <i class="pi pi-thumbs-up me-2"></i>
                            <span>Feedback: Yes</span>
                        </li>
                        <li>
                            <i class="pi pi-money-bill me-2"></i>
                            <span>Price: {{plan.price}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <div class="d-flex justify-content-between btn-block mt-2">
        <p-button styleClass="p-button-primary" routerLink="/user/interview">
            <i class="me-3 pi pi-arrow-left"></i>
            Back
        </p-button>
        <p-button styleClass="p-button-primary" (onClick)="showConfirmDialog = true" [disabled]="!selectedPlan">Continue
            <i class="ms-3 pi pi-arrow-right"></i>
        </p-button>
    </div>
</div>
<p-dialog header="Confirm details" [breakpoints]="{ '960px': '75vw' }" [(visible)]="showConfirmDialog" [modal]="true" [style]="{ width: '40vw' }"
    [draggable]="false" [resizable]="false">
    <div class="c-modal">
        <div class="modal-content d-flex justify-content-between">
            <div class="d-flex justify-content-between mb-3">
                <div>
                    <h3>Plan</h3>
                    <p *ngIf="selectedPlan">{{selectedPlan.title}}</p>
                </div>
                <div class="flex-30">
                    <h3>Date</h3>
                    {{selectedDate}}
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div>
                    <h3>Start time</h3>
                    <p>{{startTime}}</p>
                </div>
                <div class="flex-30">
                    <h3>End time</h3>
                    <p>{{endTime}}</p>
                </div>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div class="d-flex justify-content-between mb-3">
            <p-button icon="pi pi-times" (click)="showConfirmDialog = false" label="Cancel"
                styleClass="p-button-secondary p-button-outlined p-button-sm"></p-button>
            <p-button styleClass="p-button-info p-button-outlined p-button-sm" (onClick)="createCheckoutSession()">
                Continue to payment
                <i class="ms-3 pi pi-arrow-right"></i>
            </p-button>
        </div>
    </ng-template>
</p-dialog>