<table class="table">
    <thead>
      <!-- <tr>
        <th *ngFor="let column of tableColumns">{{ column }}</th>
      </tr> -->
      <tr>
        <th>column 1</th>
        <th>column 2</th>
        <th>column 3</th>
        <th>column 4</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let row of tableData">
        <td *ngFor="let column of tableColumns">{{ row[column] }}</td>
      </tr> -->
      <tr>
        <td>row[column]</td>
        <td>row[column]</td>
        <td>row[column]</td>
        <td>row[column]</td>
      </tr>
      <tr>
        <td>row[column]</td>
        <td>row[column]</td>
        <td>row[column]</td>
        <td>row[column]</td>
      </tr>
      <tr>
        <td>row[column]</td>
        <td>row[column]</td>
        <td>row[column]</td>
        <td>row[column]</td>
      </tr>
      <tr>
        <td>row[column]</td>
        <td>row[column]</td>
        <td>row[column]</td>
        <td>row[column]</td>
      </tr>
    </tbody>
  </table>
  