table {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  font-weight: 400;
}
table th{
  background-color: #e3f2fd;
  padding:15px;
  font-size:18px !important;
}
table tr:nth-child(even){
  background-color: #ffffff;
}
  
  @media (max-width: 576px) {
    .table td,
    .table th {
      padding: 0.5rem;
      font-size: 0.875rem;
    }
  }
  