<div class="interview-block">
  <div class="interviews-list" *ngIf="!showInterviewForm">
    <p-button label="Schdule interview" icon="pi pi-plus" (onClick)="showInterviewForm = true" class="d-flex justify-content-end"
      styleClass="p-button-sm p-button"></p-button>
    <div class="table-block mt-3">
      <app-common-table [tableColumns]="tableColumns" [tableData]="userInterviews"></app-common-table>
    </div>
  </div>
  <div *ngIf="showInterviewForm">
    <div class="card d-flex justify-content-center align-items-center">
      <div>
        <label for="selectDate" class="me-3">Select Date:</label>
        <p-calendar [(ngModel)]="date" id="selectDate" [showIcon]="true" [minDate]="minDate"
          (onSelect)="getSelectedDate($event)"></p-calendar>
      </div>
    </div>
    <div class="card mb-0">
      <div class="card-header">
        <h3>
          Avilable slots <span>(All time slots listed here are IST)</span>
        </h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            {{ date | date : "mediumDate" }}
          </div>
          <div class="col-md-10">
            <div class="row">
              <div *ngFor="let slot of timeOptions" class="col-md-2 mb-2">
                <p-button *ngIf="slot.class !== 'expired'" [ngClass]="slot === selectedSlot ? 'selected-slot': ''"
                  [styleClass]="
                    isToday ? 'p-button-warning' : 'p-button-success'
                  " (onClick)="getSelectedSlot(slot)">{{ slot.time }}</p-button>
                <p-button styleClass="p-button-secondary p-button-text" *ngIf="slot.class === 'expired'"
                  [ngClass]="slot.class" [disabled]="true">{{ slot.time }}</p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end btn-block mt-2">
      <p-button styleClass="p-button-primary" [disabled]="!selectedSlot" (onClick)="onContinue()">Continue <i
          class="ms-3 pi pi-arrow-right"></i></p-button>
    </div>
  </div>

</div>