<div class="main-block">
  <div class="sidebar-block">
    <div class="logo-block">
      <h1>Mock <span>Itt</span></h1>
    </div>
    <div class="side-menu">
      <ul>
        <ng-container *ngFor="let sideMenu of sideMenuData">
          <li>
            <a [routerLink]="sideMenu.routerLink" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <i class="pi {{sideMenu.icon}}" aria-hidden="true"></i>
              {{sideMenu.name}}
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  <div class="main-content-block">
    <div class="sidebar-top">
      <div class="topbar-start">
        <button class="menu-btn">
          <i class="pi pi-bars" aria-hidden="true"></i>
        </button>
        <h4>{{pageName}}</h4>
      </div>
      <div class="topbar-end">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <p-avatar label="V" styleClass="mr-2" size="medium"
              [style]="{ 'background-color': '#2196F3', color: '#ffffff' }" shape="circle"></p-avatar>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="verify-email my-3 card" *ngIf="showMailVerifyAlert">
      <div class="alert-msg-text">
        <h4>Please verify your email</h4>
        <h5>It seems like you have not verified your email, please verify the link which shred to your email</h5>
      </div>
      <div class="alert-btns">
        <button>Resend email</button>
        <button>Update email</button>
      </div>
      <div class="p-inputgroup mw-50">
        <input pInputText placeholder="Email id" />
        <span class="p-inputgroup-addon">
          Update
        </span>
      </div>
    </div>
    <p-toast></p-toast>
    <router-outlet></router-outlet>
  </div>
</div>